<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Transfer Money</title>

	</head>
	<body>
		<input type="text" placeholder="sender currency e.g. NGN, USD"/>
		<input type="text" placeholder="receiver currency e.g. USD, INR"/>
		<input type="number" placeholder="amount(in sender currency)"/>
		<input type="text" placeholder="account name"/>
		<input type="number" placeholder="account number"/>
		<button>Send</button>
		
		
		<script type="module" src="./javascripts/index.js"></script>
	</body>
</html>